.create{
    width: 700px;
    border: 1px solid rgb(206, 195, 195);;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 1px 1px 1px gray;
}

article section h1{
    text-align: center;
}

.users{
    width: 900px;
    border: 1px solid rgb(206, 195, 195);;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 1px 1px 1px gray;
}